
.tabs ul.tabs-menu {
	border-left: 2px solid #ccc;
	border-top-left-radius: 10px;
	float: left;
	

	li{
		float:left;
		list-style: none;
		border-left: 0px;
		position: relative;
		z-index: 2;
		margin-bottom:-2px;
	}

	li.active{
		margin-top:-6px;
		font-weight: bold;

		a{
			padding: 16px 20px 10px;
			border-bottom: 2px solid #fff;
			border-left: 2px solid #ccc;
		}
	}

	li.active:first-child{
		left:0;
	}
	

	a{
		padding:10px 20px;
		display: block;
		background: #fff;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border: 2px solid #ccc;
		margin-left: -2px;
	}
}

.tabs .tabs-content {
	border: 2px solid #ccc;
	position: relative;
	z-index: 1;
	clear:both;
	padding: 20px;
}

.accordion{
	border-bottom: 2px solid #ccc;
	margin-bottom: 50px;
}
.accordion .active{
	border-left: 4px solid #3c8dbc;
}
.accordion-section{
	border: 2px solid #ccc;
	border-bottom: 0px;
	padding: 10px 20px;
}

.accordion-content{
	padding-top: 10px;
}


.accordion .accordion-content,
.tabs .tabs-content{
	ul li {
		margin:5px 0 5px 20px;
	}
}