:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

html,
body {
  font-size: 14px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*******************/
/***** Header *****/
/*******************/

body > header{
  background: #d9c5ab;
  min-height: 64px;
  width: 100%;
  padding: 0 10px;
  color:#fff;
  font-size:13px;
  margin-bottom: 26px;
}
body > header h1{
  float: left;
  padding: 15px;
}

body > header ul a{
  color: #3c3a36;
}


h2 {
  padding: 50px 0 10px;
  font-size: 25px;
  color: #685f57;
}
h3 {
  padding: 10px 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.box{
  border-top: 3px solid #d2d6de;
  background: #fff;
  padding:10px;
  width: 100%;
  float: left;
}


/*******************/
/***** Modal *****/
/*******************/

.modal-bg{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 50%;
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  display: block;
}

.modal {
  position: absolute;
  margin-left: -280px;
  left: 50%;
  background: #fff;
  top: 50px;
  padding: 30px;
  z-index: 1001;
  display: block;
}

.modal .modal-close{
  position: absolute;
  right: 0;
  top:0;
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
}



/*******************/
/***** Tabelas *****/
/*******************/

table{
  border-spacing: 0px;
  width: 100%;
}
table th,table td {
  padding: 8px 10px 8px 0;
  text-align: left;
}

/*******************/
/***** Forms *****/
/*******************/

form label, .form-user label{
  padding: 5px 0 5px;
}

form h4, .form-user h4{
  padding: 0 0 5px;
}

select, form .text input, .form-user .text input {
  width: 100%;
  height: 36px;
  border:1px solid #ccc;
  padding: 10px;
}

form .file input {
  font-size: 14px;
}

form .text label, form .file label, .form-user .text label {
  display: block;
  font-weight: bold;
}

fieldset, form fieldset, .form-user fieldset {
  padding: 10px 0;
  border: 0px;
}

form .radio input, .form-user .radio input {
  margin: 10px 5px 5px 0;
}

button {
  background: #00a65a;
  border:1px solid #008d4c;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  margin-right: 5px;
}

form button, .form-user button {
  padding: 10px;
  margin-top:20px;
}

/*******************/
/***** Medias *****/
/*******************/

@media screen and (max-width: 480px) {

body {
  /* border-top: 10px solid red; */
}

body > header ul .menu a{
  width: 50px;
  height: 35px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top:-47px;
  right: 0px;
}
body > header ul .menu{
  display: block;
}

body > header ul{
  position: relative;
  clear: both;
}

body > header li{
  display: none;
  width: 100%;
}
body > header li a{
  padding: 10px;
  display: block;
  border-top: 1px solid #fff;
}
body > header ul:hover li{
  display: block;
}


}

@media screen and (min-width: 481px) {

body {
  /* border-top: 10px solid blue; */
}


body > header ul .menu{
  display: none;
}

body > header ul{
  float: right;
}

body > header ul li{
  float: left;
  padding: 25px 10px;
  list-style: none;
}

body > header ul li a{
  padding: 10px 1em;
  color: #000;
  font-weight: bold;
}


.col-fix{
  width: 300px;
  margin: 0 auto;
  float: none;
}


}

@media screen and (max-width: 768px) {

}


@media screen and (min-width: 768px) {


body {
/*  border-top: 10px solid black; */
}

.col-fix{
  float: left;
}

.col-fluid{
  padding-right:360px; /* o right, é a soma do width da coluna com o padding desejado */
}

.box {
  margin:20px 0px 20px 20px;
}

}