@media screen and
(min-width: 200px) and
(max-width: 640px){

}

table .col-action{
	width: 130px;
}
table button {
	margin-bottom: 5px;
	width: 55px;
}

.pagination {
	text-align: center;
	padding: 30px 0;
}

.pagination ul li {
	display: inline;
	list-style: none;
}
.pagination ul a {
	padding: 5px 10px;
	margin: 2px;
	background: #008d4c;
	display: inline-block;
	color: #fff;
}
.pagination .current {
  font-weight: bold;
}

@media screen and (max-width: 480px) {

table .col-action{
	width: 68px;
}


}